.cascader-input{
    width: 240px;
    height: 28px;
    border: 1px solid;
    &:empty::before {
      content: attr(placeholder);
      color: gray;
  }
}
.cascader-list{
    width: 240px;
    height: 200px;
    .cascader-list-item{
      display: flex;
    }
}