.select {
    position: relative;
    width:80px;
      .select__options {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 200px;
        overflow-y: auto;
        font-size: 14px;
        font-family: Arial, sans-serif;
        line-height: 1.5;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid #ccc;
        border-top: none;
        box-sizing: border-box;    
      }
      .select__option {
        display: block;
        padding: 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        &.selected{
          background: rgb(184, 153, 213);
        }
      }
      .select__option:hover {
        opacity: 0.8;
      }
  }
